<app-header></app-header>
<ion-content>
  <ion-card style="background-color: #00704a; height: 150px; display: flex; justify-content: center; align-items: center;">
    <ion-text color="light" text-center>
      <h1>Pedidos</h1>
    </ion-text>
  </ion-card>

  <!-- Pedido 1 -->
  <div style="margin-bottom: 20px;">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/producto1.jpg" alt="Producto 1">
      </ion-avatar>
      <ion-label>
        <h2>Producto 1</h2>
        <p>Precio: $10.00</p>
      </ion-label>
      <div style="display: flex; align-items: center;">
        <ion-button (click)="decreaseQuantity(1)" color="danger" shape="round">-</ion-button>
        <span style="margin: 0 10px;">{{ quantity1 }}</span>
        <ion-button (click)="increaseQuantity(1)" color="success" shape="round">+</ion-button>
        <!-- Icono de basura roja -->
        <ion-icon name="trash" color="danger" style="margin-left: 10px; cursor: pointer;"></ion-icon>
      </div>
    </ion-item>
  </div>

  <!-- Pedido 2 -->
  <div style="margin-bottom: 20px;">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/producto2.jpg" alt="Producto 2">
      </ion-avatar>
      <ion-label>
        <h2>Producto 2</h2>
        <p>Precio: $15.00</p>
      </ion-label>
      <div style="display: flex; align-items: center;">
        <ion-button (click)="decreaseQuantity(2)" color="danger" shape="round">-</ion-button>
        <span style="margin: 0 10px;">{{ quantity2 }}</span>
        <ion-button (click)="increaseQuantity(2)" color="success" shape="round">+</ion-button>
        <!-- Icono de basura roja -->
        <ion-icon name="trash" color="danger" style="margin-left: 10px; cursor: pointer;"></ion-icon>
      </div>
    </ion-item>
  </div>

  <!-- Botón para confirmar el pedido -->
  <ion-button expand="full" color="primary" style="margin-top: 20px;"routerLink="/qr">
    Confirmar pedido
  </ion-button>
</ion-content>





