<app-header></app-header>
<ion-content>
  <ion-card style="background-color: #00704a; height: 150px; display: flex; justify-content: center; align-items: center;">
    <ion-text color="light" text-center>
      <h1>Perfil</h1>
    </ion-text>
  </ion-card>

  <!-- Recuadro gris con el nombre del usuario y el email -->
  <div style="background-color: #f0f0f0; padding: 20px; margin: 20px 0; border-radius: 8px;">
    <ion-text color="dark">
      <h3>Usuario: </h3>
      <p>Email: </p>
    </ion-text>
  </div>

  <!-- Botón rojo de Cerrar sesión -->
  <ion-button expand="full" color="danger" routerLink="/login" style="margin-top: 20px;">
    Cerrar sesión
  </ion-button>
</ion-content>
