<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/index">
        <img src="assets/starbucks.png" alt="Starbucks Logo" style="height: 30px;">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu-productos"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-menu contentId="main-content" menuId="menu-productos">
  <ion-content class="ion-padding" style="background-color: #00704a;">
    <ion-list>
      <ion-item button routerLink="/menu">
        <ion-label>Menú</ion-label>
      </ion-item>
      <ion-item button routerLink="/pedido">
        <ion-label>Mis pedidos</ion-label>
      </ion-item>
      <ion-item button routerLink="/boleta">
        <ion-label>Pagar</ion-label>
      </ion-item>
      <ion-item>
        <ion-label (click)="setOpen(true)">Solicitar mesero</ion-label>
        <ion-alert
          [isOpen]="isAlertOpen"
          header="Se ha solicitado al mesero"
          message="Dentro de unos instantes se le atenderá."
          [buttons]="alertButtons"
          (didDismiss)="setOpen(false)"
        ></ion-alert>
      </ion-item>
      <ion-item button routerLink="/perfil">
        <ion-label>Perfil</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>
  <ion-card style="background-color: #00704a; height: 150px; display: flex; justify-content: center; align-items: center;">
    <ion-icon 
      name="arrow-back" 
      style="background-color: #00704a; color: white; margin-right: 20px;" 
      routerLink="/menu">
    </ion-icon>
    <ion-text color="light" text-center>
      <h1>Productos</h1>
    </ion-text>
  </ion-card>
  
  <ion-text color="black" text-center>
    <div style="margin: 10px 0; text-align: center;">
      <div style="border-top: 1px solid #ccc; margin-bottom: 5px;"></div>
      <!-- Título dinámico con subcategoría -->
      <h1 style="margin: 0;">{{ getSubCategoryTitle() | uppercase }}</h1>
      <div style="border-top: 1px solid #ccc; margin-top: 5px;"></div>
    </div>
  </ion-text>

  <!-- Lista de Productos -->
  <ion-list>
    <ion-item *ngFor="let product of filteredProducts">
      <ion-thumbnail slot="start">
        <img [src]="product.image || 'assets/placeholder.png'" alt="Imagen del producto" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
      </ion-label>
      <ion-button slot="end" (click)="viewProductDetails(product)">
        Detalles
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Mensaje si no hay productos filtrados -->
  <ion-text *ngIf="filteredProducts.length === 0">
    <p class="ion-text-center">No se encontraron productos con los filtros seleccionados.</p>
  </ion-text>
</ion-content>
