<ion-content [fullscreen]="true" style="--background: #f7f7f7;">
  <ion-card style="background-color: #00704a; height: 150px; display: flex; justify-content: center; align-items: center;">
    <ion-text color="light" text-center style="display: flex; align-items: center;">
      <!-- Ícono de flecha -->
      <ion-icon name="arrow-back" style="margin-right: 20px;" routerLink="/login"></ion-icon>
      <!-- Título -->
      <h1>Creación de usuario</h1>
    </ion-text>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar tu cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email"
            name="email"
            required
          ></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="!email">
          Enviar enlace de restablecimiento
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  
</ion-content>
