
<ion-content [fullscreen]="true" style="--background: #f7f7f7;">
  <!-- Imagen del logo de Starbucks -->
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <img src="assets/starbucks.png" alt="Logo Starbucks" style="width: 300px; height: auto;">
  </div>

  <!-- Contenedor principal para el formulario de login -->
  <div style="display: flex; justify-content: center; align-items: center; height: 50%; margin-top: 5px;">
    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; width: 90%; max-width: 400px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">

      <!-- Campo de usuario -->
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" placeholder="Ingresa tu usuario" required></ion-input>
      </ion-item>
      
      <!-- Campo de contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" placeholder="Ingresa tu contraseña" required></ion-input>
      </ion-item>

      <!-- Olvido de contraseña -->
      <div style="text-align: right; margin-top: 10px;">
        <a routerLink="/adm-mesa" style="color: #00704a; font-weight: bold;">¿Olvidasta te contraseña ?</a>
        <a routerLink="/adm-mesa" style="color: #00704a; font-weight: bold;">Admin</a>
      </div>

      <!-- Botón de inicio de sesión -->
      <ion-button expand="block" routerLink="/qr" style="background-color: #00704a; margin-top: 20px;">Iniciar sesión</ion-button>

      <!-- Texto para crear cuenta -->
      <div style="text-align: center; margin-top: 20px;">
        <span style="color: #1d1d1b;">¿No tienes cuenta? </span>
        <a routerLink="/create-user" style="color: #00704a; font-weight: bold;">Crear cuenta</a>

      </div>
    </div>
  </div>

</ion-content>
