<!-- ENCABEZADO -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/starbucks.png" alt="Starbucks Logo" style="height: 30px;">
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Detalles del Producto</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu-adm-produc"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- CONTENIDO DE LA PÁGINA -->
<ion-content [fullscreen]="true">
  <ion-card style="background-color: #00704a; height: 150px; display: flex; justify-content: center; align-items: center;">
    <ion-text color="light" text-center>
      <h1>{{ product?.title }}</h1>
    </ion-text>
  </ion-card>

  <ion-card *ngIf="product">
    <ion-item>
      <ion-label>Descripción:</ion-label>
      <ion-text>{{ product.description }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Tipo:</ion-label>
      <ion-text>{{ product.category }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Subtipo:</ion-label>
      <ion-text>{{ product.subCategory }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Precio:</ion-label>
      <ion-text>{{ product.price | currency }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Imagen:</ion-label>
      <ion-img [src]="product.image || 'assets/default-product.png'"></ion-img>
    </ion-item>
  </ion-card>
</ion-content>
