<ion-content [fullscreen]="true" style="background-color: #f0f0f0; padding: 0;">
  <div style="height: 100%; display: flex; justify-content: center; align-items: center; padding: 20px;">
    <div style="background-color: #00704a; border-radius: 8px; padding: 20px; width: 100%; max-width: 500px; text-align: center;">
      <ion-text color="light">
        <h3 style="margin-bottom: 20px;">Selecciona una mesa para ver el menú</h3>
      </ion-text>

      <!-- Mostrar las mesas -->
      <ion-list>
        <ion-item 
          *ngFor="let mesa of mesas" 
          [class.selected]="selectedMesa === mesa" 
          (click)="selectMesa(mesa)">
          <ion-label>
            {{ mesa }}
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button 
      expand="full" 
      color="danger" 
      style="margin-top: 20px;" 
      (click)="goBack()">
      Volver
    </ion-button>
    
    </div>
  </div>
</ion-content>
